/*---------------------
  Color Template
  Blue: #0080cc
  Cyan: #16d0c5
  White-Background: #f3f7f9
---------------------*/


/*---------------------
  Common CSS
---------------------*/
@font-face {
  font-family: 'KoPub';
  src: url('../font/KoPubWorld_Dotum_Medium.woff');
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'KoPub';
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  font-size: 14px;
  max-width: 100vw;
}

h2 {
  font-weight: bold;
  color: #0080cc;
  margin-bottom: 5rem;
}

section {
  padding: 5rem 0;
}

.section-title {
  margin-bottom: 5rem;
}

.section-title h2 {
  margin-bottom: 0.5rem
}

.text-center {
  text-align: center;
}

.text-blue {
  color: #0080cc;
}

.text-white {
  color: #f3f7f9;
}

.text-cyan {
  color: #16d0c5;
}

.text-bold {
  font-weight: bold;
}

.card {
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  margin-bottom: 2rem;
}


/*---------------------
  Header section
---------------------*/
.header-section {
  width: 100%;
  padding: 30px 0;
}

.site-logo {
  width: 116px;
}

.main-menu {
  margin: 0;
  float: right;
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-list li {
  display: inline;
  margin: 0 10px;
}

.menu-list li a {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}


/*---------------------
  Identity Section
---------------------*/
.identity-section {
  background-image: url();
  background-color: #f3f7f9;
  background-size: cover;
}

.identity-description {
  margin-top: 15rem;
}

.identity-section h2 {
  font-size: 6rem;
}

.identity-section h2 span {
  color: #16d0c5
}

.identity-img {
  width: 100%;
}

.identity-team-description {
  padding: 0;
  padding: 0 3rem;

}

.identity-team-description p {
  font-size: 1.7rem;
}

.identity-team h2 {
  font-size: 2.3rem;
}

/*---------------------
  Key Section
---------------------*/
.key-section {
  background: linear-gradient(to right, #00a3cc, #00c798);
}

.key-section h2 {
  margin: 0;
  font-size: 2rem;
}

/*---------------------
  Introduction Section
---------------------*/
.introduction-section .row {
  margin: 2rem 0;
}

.introduction-profile {
  padding: 20px 0;
  background-color: #f3f7f9;

  text-align: center;
}

.introduction-portrait {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%
}

.introduction-portrait-img {
  width: 100%;
  height: auto;
}

.introduction-profile h3 {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
}

.introduction-profile h3 span {
  margin-left: 1rem;

  font-weight: lighter;
  font-size: 1.5rem;
}

.introduction-hashtag {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.introduction-hashtag li {
  display: inline;
  color: #0080cc;
}

.introduction-description-container {
  padding: 20px 0;
  width: 100%;
}

.introduction-description-container-data_manager {
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction-description-wrapper {
  display: flex;
  align-items: center;
}

.introduction-index {
  font-size: 15px;
  font-weight: 600;
}

.introduction-description-container ul {
  list-style-type: circle;
}

.introduction-data_manager-profile {
  background: #f3f7f9;
}

.introduction-data_manager-profile .row {
  display: flex;
  align-items: center;
}

.introduction-data-manager-portrait img {
  width: 15rem;
  display: block;
  margin: 0 auto;
}

.introduction-data-manager-portrait h3 {
  font-weight: bold;
  font-size: 2rem;
}

.introduction-data_manager-hashtag {
  display: block;
  margin: 0 auto;
}

.introduction-data_manager-hashtag ul {
  color: #0080cc;
  list-style-type: none;
}

/*---------------------
  Feature Section
---------------------*/
.feature-section {
  padding: 50px 0;
  background-color: #f3f7f9;
}

.feature-icon {
  font-size: 5rem;
  color: #f3f7f9;
}

.feature-card {
  margin: 20px 10px;
  padding: 20px 20px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  border-radius: 5px;
  background: linear-gradient(to right, #00a3cc, #00c798)
}

.feature-card h3 {
  font-weight: bold;
  font-size: 1.7rem;
  color: #f3f7f9;
}


/*---------------------
  Report Section
---------------------*/
.report-section {
  background: linear-gradient(to bottom, #00a3cc,#00c798);
}

.report-title-description {
  width: 50%;
  margin: 0 auto 5rem;
}

.report-title-description p {
  font-size: 1.7rem;
}

.report-circle {
  background-color: #f3f7f9;
  padding: 2rem 0;
  margin: 0 auto;

  border-radius: 50%;

  width: 10rem;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.report-circle h3 {
  font-weight: 600;
  font-size: 1.7rem;

  margin: 0;
}

.report-img-container {
  display: flex;
  justify-content: center;
}

.report-img {
  width: 75%;
  margin-bottom: 2rem;
}

.report-list {
  margin: 2rem 0 10rem;
}

.report-description h4 {
  font-weight: bold;
  
  font-size: 2rem;
  margin-bottom: 2rem;
}

.report-description ul {
  list-style-type: circle;
}

.report-description li {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.curriculum-section h3 {
  font-weight: bold;
  font-size: 3rem;
  color: #0080cc;
  margin-bottom: 2rem;
}

.curriculum-description h4{
  font-size: 3rem;
}

.curriculum-description li{
  font-size: 2.5rem;
}

#img-student-drive {
  width: 100%;
}

/*---------------------
  Footer Section 
---------------------*/
.footer-section {
  background: linear-gradient(to right, #0080cc, #16d0c5);

  padding: 2rem 0;
}

.footer-section p {
  color: #f3f7f9;
  margin-bottom: 0;
}

/*---------------------
  Responsive
---------------------*/
/* Medium Screen */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 15px;
  }
}

/* Large Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 13px;
  }

  .introduction-data_manager-hashtag ul {
    display: block;
    margin: 0 auto;
  }

  .introduction-data_manager-hashtag li {
    display: inline-block;
  }
}

/* Small Mobile */
@media only screen and (max-width: 479px) {
  body {
    font-size: 10px;
  }

  .introduction-index {
    font-size: 1.1rem;
  }

  .introduction-data_manager-hashtag ul {
    display: inline-block;
  }

  .introduction-data_manager-hashtag li {
    display: inline-block;
  }

  .report-title-description {
    width: 80%;
  }

}