/*---------------------
  Color Template
  Blue: #0080cc
  Cyan: #16d0c5
  White-Background: #f3f7f9
---------------------*/

/*---------------------
  Common CSS
---------------------*/
@font-face {
  font-family: 'KoPub';
  src: url('../font/KoPubWorld_Dotum_Medium.woff');
}

body {
  font-family: 'KoPub';
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-weight: bold;
  color: #0080cc;
  margin-bottom: 50px;
}

img {
  max-width: 100%;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  margin-bottom: 20px
}

.text-center {
  text-align: center;
}

.text-blue {
  color: #0080cc;
}

.text-white {
  color: #f3f7f9;
}


/*---------------------
  Header section
---------------------*/
.header-section {
  width: 100%;
  padding: 30px 50px 10px;
}

.site-logo {
  width: 116px;
}

.main-menu {
  float: right;
}

.menu-list {
  list-style: none;
}

.menu-list li {
  display: inline;
}

.menu-list li a {
  display: inline-block;
  font-size: 16px;
  padding: 10px 5px;
  margin-right: 30px;
}


/*---------------------
  Identity Section
---------------------*/
.identity-section {
  height: 500px;
  padding-top: 150px;
  background-image: url();
  background-color: #f3f7f9;
  background-size: cover;
}

.identity-section h2 {
  font-size: 60px
}

.identity-section h2 span {
  color: #16d0c5
}

/*---------------------
  Key Section
---------------------*/
.key-section {
  background: linear-gradient(to right, #0080cc, #16d0c5);
}


/*---------------------
  Introduction Section
---------------------*/
.introduction-section {
  padding: 50px 0;
}

.introduction-section h2 {
  margin-bottom: 40px;
}

.member {
  margin: 20px 10px;
  padding: 0 0 20px 0;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  height: 600px;
}

.member .row {
  display: flex;
  align-items: center;

  margin: 20px 0;
}

.member-profile {
  padding: 20px 0;
  background-color: #f3f7f9;
}

.member-name {
  display: block;
  text-align: center;
}

.member-comment {
  margin: 20px 0 10px 0;
  text-align: center;
}

.member-profile h3 {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  padding-left: 10px;
  margin-right: 5px;
}

.member-career {
  padding: 20px;
}

.member h4 {
  font-size: 15px;
  font-weight: 600;
}

.member-profile p {
  margin-bottom: 0px;
  display: inline-block;
}

.member-portrait {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%
}

.member-img {
  width: 100%;
  height: auto;
}

.member ul {
  list-style-type: disc;
  margin-bottom: 0;
}

/*---------------------
  Feature Section
---------------------*/
.feature-section {
  padding: 50px 0;
  background-color: #f3f7f9;
}

/*---------------------
  Footer Section 
---------------------*/
.footer-section {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #0080cc, #16d0c5);
  height: 50px;
}

.footer-section p {
  color: #f3f7f9;
  margin-bottom: 0;
}

/*---------------------
  Responsive
---------------------*/
