/*---------------------
  Color Template
  Blue: #0080cc
  Cyan: #16d0c5
  White-Background: #f3f7f9
---------------------*/


/*---------------------
  Common CSS
---------------------*/
@font-face {
  font-family: 'KoPub';
  src: url('../font/KoPubWorld_Dotum_Medium.woff');
}

body {
  font-family: 'KoPub';
  -webkit-font-smoothing: antialiased;

  font-size: 14px;
  max-width: 100vw;
}

h2 {
  font-weight: bold;
  color: #0080cc;
  margin-bottom: 5rem;
}

.section-title {
  margin-bottom: 5rem;
}

.section-title h2 {
  margin-bottom: 0.5rem
}

.text-center {
  text-align: center;
}

.text-blue {
  color: #0080cc;
}

.text-white {
  color: #f3f7f9;
}

.text-cyan {
  color: #16d0c5;
}

.text-bold {
  font-weight: bold;
}


/*---------------------
  Header section
---------------------*/
.header-section {
  width: 100%;
  padding: 30px 0 20px;
}

.site-logo {
  width: 116px;
}

.main-menu {
  margin: 0;
  float: right;
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-list li {
  display: inline;
  margin: 0 10px;
}

.menu-list li a {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}


/*---------------------
  Identity Section
---------------------*/
.identity-section {
  height: 500px;
  padding-top: 150px;
  background-image: url();
  background-color: #f3f7f9;
  background-size: cover;
}

.identity-section h2 {
  font-size: 60px
}

.identity-section h2 span {
  color: #16d0c5
}

/*---------------------
  Key Section
---------------------*/
.key-section {
  padding: 20px 20px;
  font-size: 0.5rem;
  background: linear-gradient(to right, #0080cc, #16d0c5);
}

.key-section h2 {
  font-size: 1.8rem;
  color: #f3f7f9;
  margin-bottom: 10px;
}

.key-section h3 {
  color: #333333;
  font-size: 1.5rem;
}

/*---------------------
  Introduction Section
---------------------*/
.introduction-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.introduction-section h2 {
  margin-bottom: 40px;
}

.member {
  margin: 20px 10px;
  padding: 0 0 20px 0;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.member .row {
  display: flex;
  align-items: center;

  margin: 20px 0;
}

.member-profile {
  padding: 20px 0;
  background-color: #f3f7f9;
}

.member-name {
  display: block;
  text-align: center;
}

.member-comment {
  margin: 20px 0 10px 0;
  text-align: center;
}

.member-profile h3 {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  padding-left: 10px;
  margin-right: 5px;
}

.member-career {
  padding: 20px;
}

.member h4 {
  font-size: 15px;
  font-weight: 600;
}

.member-profile p {
  margin-bottom: 0px;
  display: inline-block;
}

.member-portrait {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%
}

.member-img {
  width: 100%;
  height: auto;
}

.member ul {
  list-style-type: disc;
  margin-bottom: 0;
}


/*---------------------
  Feature Section
---------------------*/
.feature-section {
  padding: 50px 0;
  background-color: #f3f7f9;
}

.feature-icon {
  font-size: 5rem;
  color: #f3f7f9;
}

.feature-card {
  margin: 20px 10px;
  padding: 20px 20px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  border-radius: 5px;
  background: linear-gradient(to right, #00a3cc, #00c798)
}

.feature-card h3 {
  font-weight: bold;
  font-size: 1.7rem;
  color: #f3f7f9;
}


/*---------------------
  Curriculum Section
---------------------*/
.curriculum-section {
  padding: 2rem 0;
  width: 100%;
  background: linear-gradient(to right, #00a3cc, #00c798);
}

.curriculum-section h3 {
  font-size: 1.7rem;
}

.curriculum-img {
  display: block;

  margin: 0 auto 1rem;
  height: 85%;
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.curriculum-img-overlap {
  display: block;

  margin-bottom: 1rem;
  width: 70%;
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.curriculum-container-overlap {
  position: relative;
  height: 35vw;

  margin: 0 auto;
  display: block;
}

.curriculum-container {
  height: 35vw;

  margin: 0 auto;
  display: block;
}

.front {
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: 1;

  border-radius: 1rem;
  width: 60%;
}

.back {
  position: absolute;
  top: 0;
  left: 40%;

  border-radius: 1rem;
  width: 60%;
}

.curriculum-section ul {
  list-style-type: square;
}

/*---------------------
  Footer Section 
---------------------*/
.footer-section {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #0080cc, #16d0c5);
  height: 4rem;
}

.footer-section p {
  color: #f3f7f9;
  margin-bottom: 0;
}

/*---------------------
  Responsive
---------------------*/
/* Medium Screen */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 15px;
  }
}

/* Large Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 13px;
  }

  .curriculum-container {
    position: relative;
    
    height: 40vh;
    display: block;
  }
}

/* Small Mobile */
@media only screen and (max-width: 479px) {
  body {
    font-size: 10px;
  }

  .curriculum-img {
    height: 45%;
  }

  .curriculum-container-overlap {
    position: relative;
    
    height: 50vh;
    display: block;
  }

  .curriculum-container {
    position: relative;
    
    height: 50vh;
    display: block;
  }

  .curriculum-img {
    height: 85%;
  }

  .curriculum-section {
    height: 300vh;
  }
}